.section__tittle{
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
    margin-bottom: 10rem;
    cursor: pointer;
    background: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 0.2s;
    &:hover{
        transform: skew(-0.5deg,5deg) scale(1.2);
        // text-shadow: -0.5rem 0rem 2rem $color-primary-light;
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}