@keyframes toptobottom{
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes lefttoright{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes smalltobig{
    0%{
        opacity: 1;
        
        transform: scale(1,1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5,1.5);
    }
}
